<div class="container-fluid">
	<div class="wrap">
		<div class="row bg-img-pro">
			<div class="bg-gradient-pro">
				<div>
				<nav class="navbar navbar-default" role="navigation">
					<a class="navbar-brand"><img src="/assets/books-white.png" class="logo"> StudyHub</a>
							<ul class="nav navbar-nav navbar-right nav-list">
							   	<li class="nav-item">
							      	<a class="nav-link" href="/users/profile">Profile<span class="sr-only"></span></a>
							    </li>
							    <li class="nav-item">
							     	<a class="nav-link" href="/users/find_groups">Find Groups</a>
							    </li>
							    <li class="nav-item">
							      	<a class="nav-link" href="/users/sign_out">Sign Out</a>
							   	</li>
							</ul>
					
				</nav> 
			</div>
			</div>
			<h2 class="profile-text">Find Groups</h2>
		</div>
		<div class="wrap-inner">
			<div class="column-under-find">
				<h1 class="title-group-find">Groups for: <%= @course %></h1>
				<ul class="list-unstyled">
					<% @searched_groups.each do |group| %>
						<div class="blue-group">
							<li><h3><%= group.name %></h3></li>
							<p>Meeting Location: <%= group.meet_place %></p>
							<p>Meeting Time: <%= group.meet_time %></p>
							<p>Majors of Group Members: 
								<ul class="list-unstyled">
									<% @users_arr.each do |user| %>
										<% if UserGroup.find_by(user_id: user.id, study_group_id: group.id) != nil
										%>
											<li class="sub-list"><%= user.major %></li>
										<% end %>
									<% end %>
								</ul>
							</p>
							<p>Hobbies of Group Members:
								<ul class="list-unstyled">
									<% @hobbies_arr.each do |hobby| %>
										<% if hobby != nil%>
											<li class="sub-list"><%= Hobby.find_by(id: hobby.hobby_id).name %></li>
										<% end %>
									<% end %>
								</ul>
							</p>
							<form action="/users/profile" method="POST">
							  <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
							  <input type="hidden" name="group_id" value="<%= group.id%>">
							  <center>
							  <input type="submit" value="Make This My Group">
							  </center>
							</form>
						</div>
					<% end %>
				</ul>
			</div>
		</div>
	</div>
	<div class="row footer">
		<h2>StudyHub</h2>
	</div>
</div>